
body, html{height:100%;}


body
{
    margin: 0;
    font-family: "Raleway", "Sans serif";
    color: #181818;
}

#bloc_texte
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: capitalize;
}

/* Header */

a {
    color: inherit;
    text-decoration: none;
  }
  
  .header {
    display: grid;
    align-items: center;

  }
  .headerImg {
    grid-area: logo;
    height: 2.813rem;
  }
  .headerNav {
    display: flex;
    align-items: center;
    grid-area: navbar;
  }
  .headerNavLink {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
  }
  .headerNavLink[data-active=true] {
    color: #0065FC;
  }
  .headerNavLink:hover {
    color: #0065FC;
  }
  .headerSignup {
    display: flex;
    align-items: center;
    grid-area: button;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
  }

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.a_Hébergement, .a_Activités, .a_inscrire{
    margin-right: 50px;
    font-size: 1.2em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

.a_Hébergement, .a_inscrire{
    color: #0065FC;
}

.li-filtres{
    padding-top: 10px;
    margin-right: 80px;
    padding-right: 10px;
}

.li-Economique, .li-Economique, .li-Familial, .li-Romantique, .li-autorisé{
    list-style: none;
    border: #F2F2F2 solid 2px;
    border-top-right-radius: 30px 30px;
    border-top-left-radius: 31px 31px;
    border-bottom-left-radius: 31px 31px;
    border-bottom-right-radius: 30px 30px;
    margin-right: 30px;
    padding-right: 10px;
}

a strong {
    
    font-size: 1em;
    color: #181818;
    text-decoration: none;
}

nav a{
    text-decoration: none;
}

.section_intro
{
    padding-top: 10px;
}

#navbar
{
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    margin-right: 50px;
}
/*barre de recherche*/

label {

    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
    padding: 14px 0px 13px 10px;
    border-color: #F2F2F226;
}

::placeholder{
    font-weight: bold;
    color: black;
}

button{
    font-weight: bold;
    border: 0;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    background-color: #0065FC;
    color: #ffffff ;
    padding: 15px 20px 15px 15px;
}

@media screen and (min-width: 800px) {

    .fas.fa-search{
        display: none;
    }
    button::after{
        content: "Rechercher";
    }
}

.fas.fa-map-marker-alt{

    border-top-left-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    border:15px solid #F2F2F2;
    color: #000000;
    background-color: #F2F2F2;
}


section#hebergement
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 36px;
    padding-bottom: 30px;
    width: 60%;
    float:left;
    margin-bottom: 50px;

}

aside#LPP
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px 30px 60px 30px;
    width: 30%;
    float: right;
}

section#marseille
{
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
    float:left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.titre_marseille, .titre_LPP, .titre_marseille2
{
    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
}


.titre_LPP {
    margin-left: 20px;
}

.introduction
{
    font-weight: bold;
    font-size: 1.2em;
}

.introduction_2
{
    font-size: 1em;
}

#img_hebergement 
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px 20px 10px;
}

#img_LPP
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#img_activité
{
    margin: 10px 20px 20px 10px;
}

/* image */

.figure_1 {
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin-right: 20px;
    margin-left: 0px;
}

.figure_2 {
    display: flex;
    padding: 5px;
    width: 360px;
    margin-left: 20px;
}

.figure_3 {
    display: flex;
    flex-flow: column;
    margin-right: 0px;
    margin-left: 0px;
}

.figure_4 {
    display: flex;
    flex-flow: column;
    margin-right: 0px;
    margin-left: 20px;
}

.img_1 {
    width: 280px;
    max-height: 150px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    object-fit: cover;
    box-shadow: 0 0 20px #0000002e;
}

.img_2 {
    width: 235px;
    max-height: 145px;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    min-width: 190px;
    object-fit: cover;
}

.img_3 {
    width: 400px;
    height: 500px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    object-fit: cover;
    box-shadow: 0 0 20px #0000002e;
}

.img_4 {
    width: 350px;
    height: 224px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    object-fit: cover;
    box-shadow: 0 0 20px #0000002e;
}

.figcaption_1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font: smaller sans-serif;
    padding: 10px;
    text-align: left;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    box-shadow: 0 0 20px #0000002e;
}

.figcaption_2 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font: smaller sans-serif;
    padding: 10px;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
}

.figcaption_3 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font: smaller sans-serif;
    padding: 10px;
    text-align: left;
    border-bottom-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    box-shadow: 0 0 20px #0000002e;
}

.fas.fa-star.b, .fas.fa-info-circle.b {
    color: #0065FC;
}

.fas.fa-star.g {
    color: grey;
}

.fas.fa-map.b, .fas.fa-child.b, .fas.fa-heart.b, .fas.fa-dog.b{
    border-radius: 100%;
    border:10px solid #F2F2F2;
    color: #0065FC;
    background-color: #F2F2F2;
    
}
/* footer */

footer
{
    color: #333;
    
}

.contenu_footer {
    margin-left: -5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 20px 0 50px;
    background-color: #F2F2F2;
    width: 110%;
}

.bloc_footer_propos,
.bloc_footer_hebergements,
.bloc_footer_assistance 
{
    width: 100%;
    margin: 0 50px;
}

.bloc_footer_propos h3,
.bloc_footer_hebergements h3,
.bloc_footer_assistance h3
{
    font-size: 20px;
}

.liste_1,
.liste_2,
.liste_3
{
    font-size: 18px;
    list-style-type: none;
    display: inline;
}

.animation_css:hover{
    transform: scale(1.02);
}

@media (max-width: 1400px){
    section#hebergement {
        padding-right: 0px;
        width: 50%;
    }
    aside#LPP{
        width: 40%;
    }
}
@media (max-width: 1050px){
    section#hebergement {
        padding-right: 0px;
        width: 42%;
    }
    aside#LPP{
        width: 42%;
    }
    .figure_2{
        width: 300px;
    }
}

@media (max-width: 800px) {
    .contenu_footer {
        flex-wrap: wrap;
    }
    nav ul {
        flex-wrap: wrap;
    }
    .li-filtres{
        padding-left: 30px;
    }
    ul{
        padding-left: 0px;
    }
    .li-Economique, .li-Economique, .li-Familial, .li-Romantique, .li-autorisé, .li-filtres{
        margin-bottom: 10px;
        padding-left: 0px;
    }
    #bloc_texte{
        margin-left: 0%;
        margin-right: 0%;
    }
    section#hebergement{
        width: 100%;
        background-color: #ffffff;
        border-radius: 0px;
    }
    .section_intro{
        margin-left: 10px;
    }
    input,
    label{
        padding: 14px 0px 13px 30px;
    }
    nav ul{
        margin-left: 20px;
    }
    .logements{
        margin-left: 20px;
    }
    #bloc_texte{
        width: 95%;
    }
    .a_inscrire{
        font-weight: bold;
    }
    #logo img{
        margin-left: 20px;
    }
    button{
        border-top-left-radius: 15px 15px;
        border-bottom-left-radius: 15px 15px;
        padding-right: 17px;
    }
    section#hebergement{
        padding-left: 0px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
    .figure_1{
        padding: 15px;

    }
    .figure_2{
        padding: 0px;
        margin-left: 0px;
    }
    aside#LPP{
        width: 90%;
        float: none;
        margin-bottom: auto;
        border-radius: 0px;
    }
    .img_2{
        max-width: 140px;
        max-height: 100px;
        min-width: 140px;
        height: 100px;
    }
    .figcaption_2{
        width: 150px;
    }                                                                                                
    .img_3, .img_4{
        width: 340px;
        height: 180px;
    }
    .titre_marseille{
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    #img_activité{
        margin: 0px 0px 0px 0px;
    }
    .figure_3{
        margin-left: 20px;
    }
    section#marseille{
        padding-left: 0px;
    }
    .titre_LPP{
        margin-left: 0px;
    }
    .img_1{
        width: 320px;
        height: 140px;
    }
    .ensemble{
        display: flex;
        flex-direction: column-reverse;
    }
    .headerImg{
        padding: 0 2rem;
    }
  }

  @media screen and (min-width: 601px) {
    .header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . navbar button";
    }
    .headerNavLink[data-active=true] {
        border-top: 3px solid #0065FC;
    }
    .headerNavLink:hover {
        border-top: 3px solid #0065FC;
    }
  }
  @media screen and (max-width: 600px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .headerimg {
        padding: 0 2rem;  
        order: 0;
    }
    .headerSignup {
        order: 1;
    }
    .headerNav {
        order: 2;
    }
    .headerNavLink {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
        width: 50%;
    }
    .headerNavLink[data-active=true] {
        border-bottom-color: #0065FC;
    }
    .headerNavLink:hover {
        border-bottom-color: #0065FC;
    }
  }
